<p class="title is-4">Upcomming Talks</p>

<div class="columns is-multiline">

	{% assign max_talk_number = 3 %}

	{% assign sortedtalks = site.talks_entries | sort: 'date' %}
	
	{% capture _ %}{% increment talk_number %}{% endcapture %}
    {% for talk in sortedtalks %}
		{% if talk.date> site.time%}
		
			{% capture _ %}{% increment talk_number %}{% endcapture %}
			{% if talk_number > max_talk_number %}
				{% break %}
			{% endif %}
			
			<div class="column is-12">
			<a href="{{talk.url}}">
				{% include post-card.html %}
			</a>
			</div>
		{% endif %}
    {% endfor %}
	
	
</div>